{% extends "base.html" %}

{% block app_content %}
{% if current_user.is_admin %}
<a href="{{ url_for('adduser')}}">Click here to add a user</a>
{% endif %}
    <br><br>
    <table class="table table-hover">
    {% for user in users %}
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', id=user.id) }}">
                    <img src="{{ user.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', id=user.id) }}">
                    {{ user.username }}
            </td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}