{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Pictures</h1>
    <form action="/campics/takepicture" method="post" novalidate>
    <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
    <p></p>
    <table class="table table-striped">
    {%- for filenames in allthumbs | batch(3) %}
      <tr>
      {%- for filename in filenames %}
       {% set destfilename = filename | replace('_thn.','.') %}
       {% set destfilename = destfilename | replace('campics/','campics/singlepicture/') %}
        <td><a HREF="{{destfilename}}"> <img src="{{ filename }}"/> </a></td>
      {%- endfor %}
      </tr>
    {%- endfor %}
    </table>

{% endblock %}